
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:100,400,700");

// Variables
//@import "variables";

// Bootstrap
$tooltip-padding-y: 8px;

@import "~bootstrap/scss/bootstrap";

.table td {
  padding: 0.5rem;
  vertical-align: middle;
}

.flex-column .nav-link > .badge {
  float: right;
  margin-top: 0.15rem;
}

.modal-header .close {
  padding: $modal-header-padding + 3px;
}

// Select2
@import "~select2/dist/css/select2";
@import "select2-bootstrap";

//.select2-container {
//  min-width: 10rem;
//}

// SweetAlert2
@import "~sweetalert2/src/sweetalert2";